

body  {
  font-size: 1rem;
  background-image: linear-gradient(to right, #dfee75, #b7ef8a, #91eea3, #6feabb, #55e4d1, #29dadf, #00cfea, #10c3f0, #20b0f3, #509aed, #7981dd, #9965c2);
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#llamaTitle {
  text-align: center;
  color: black;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-size: 3em;
  text-decoration: underline;
}

#comment1 {
  font-size: .8rem;
  margin-bottom: -.3rem;
}

#comment2 {
  font-size: .8rem;
  margin-top: -.3rem;
}

/*BEGIN NAV*******************************************************************************/


.navBar {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}

#textLogo {
  width: 20em;
  position: fixed;
  left: 0;
}

.navBar ul{
  background-color: lightgray; /*navbar*/
  padding: .5rem;
  padding-left:40vw;
  height: 5vh;
    /* initialize flexbox container and flexbox items */
  display: flex;
  justify-content: space-around;
}

.navBar ul li{
  list-style-type: none;
  font-size: 1em;
  line-height: 5vh;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

#homeIcon {
  width: 1.2em;
  margin-top: .5em;
}

.navBar ul li:hover {
  font-size: 1.5em;
  font-weight: bolder;
}

/*END NAV*******************************************************************************/

/*BEGIN BODY*******************************************************************************/

body article h1 {
  text-align: left;
  border-bottom: .3rem lightgray double;
  padding-bottom: .5rem;
}

body article h2 {
  text-align: left;
  margin-top: 0;
  color: black; /* vibrant red*/
  font-size: smaller;
  padding-top: .5rem;
}

#comment3 {
  font-size: smaller;
  text-justify: center;
}

.footer {
  height: 100vh;
}

#comment4 {
  text-align: center;
  margin-top: 5vh;
  font-weight: bolder;
}

#llamaPicture {
  max-width: 5vw;
  position: fixed;
  margin-right: 5vw;
  margin-top: 5vw;
  top: 0;
  right: 0;
}
