

body  {
  font-size: 1rem;
  background-color: #A852FF;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#llamaTitle {
  text-align: center;
  color: black;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  font-size: 3em;
  text-decoration: underline;
}

#comment1 {
  font-size: .8rem;
  margin-bottom: -.3rem;
}

#comment2 {
  font-size: .8rem;
  margin-top: -.3rem;
}

/*BEGIN NAV*******************************************************************************/


.navBar {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  position: fixed;
}

#textLogo {
  width: 20em;
  position: fixed;
  left: 0;
  padding-left: 2vw;
}

.navBar ul{
  background-color: #FFFFFF; /*navbar*/
  padding: .5rem;
  padding-left:40vw;
  height: 5vh;
    /* initialize flexbox container and flexbox items */
  display: flex;
  justify-content: space-around;
}

.navBar ul li{
  list-style-type: none;
  font-size: .8em;
  line-height: 5vh;
  color: #6000C1;
  font-family: Georgia, Times, "Times New Roman", serif;
}

li:hover{
  font-weight: bolder;
}

#homeIcon {
  width: 1.2em;
  margin-top: .5em;
}

.navBar ul li:hover {
  font-size: 1.5em;
  font-weight: bolder;
}

/*END NAV*******************************************************************************/

/*BEGIN BODY*******************************************************************************/

.beginContent {
  padding-top: 10vh;
  position: relative;
  overflow: hidden;
}

.logInsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 50vh;
}

.parentSection, .kidSection {x
  flex: 0 1 10vh;
  padding: 2em;
  margin: 5%;
}

button {
  display: block;
  width: 12vw;
  height: 6vh;
  background: none;
  border: .2em solid white;
  border-radius: 10px;
}

button:hover {
  display: block;
  width: 13vw;
  height: 7vh;
  background: none;
  border: .2em solid white;
  border-radius: 10px;
  box-shadow: 5px 10px #6700C0;
}

h2,h3 {
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
}


#llamaPicture {
  max-width: 5vw;
  position: fixed;
  margin-right: 5vw;
  margin-top: 5vw;
  top: 0;
  right: 0;
}
